@import "variables.less";
@import "mixins.less";

body {
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    color: #656972;
    font-size: 16px;
    background-color: white;
    overflow-x: hidden;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    color: #323232;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
}
h4,h5,h6 {
  text-transform: none;
}
h2:after {
    color: #e64949;
    content: ".";
    font-size: 34px;
}
h3 {
  font-size: 30px;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 18px;
    text-align: left;
    line-height: 35px;
}
p {
    margin: 0 0 25px;
    color: #888;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    line-height: 1.5;
    @media(min-width:768px) {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: @primary;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover,
    &:focus {
        text-decoration: none;
        color: darken(@primary,20%);
    }
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid fade(white, 30%);
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: black;
    .navbar-toggle {
        color: white;
        background-color: fade(white, 20%);
        font-size: 12px;
        &:focus,
        &:active {
            outline: none;
        }
    }
    .navbar-brand {
        font-weight: 700;
        &:focus {
            outline: none;
        }
        img {
          width: 175px;
        }
    }
    a {
        color: white;
    }
    .nav {
        li {
            a {
                -webkit-transition: background .3s ease-in-out;
                -moz-transition: background .3s ease-in-out;
                transition: background .3s ease-in-out;
                &:hover {
                    color: fade(white, 80%);
                    outline: none;
                    background-color: transparent;
                }
                &:focus,
                &:active {
                    outline: none;
                    background-color: transparent;
                }
            }
            &.active {
                outline: none;
                a {
                    background-color: fade(white, 30%);
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
    @media(min-width:768px) {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        &.top-nav-collapse {
            padding: 0;
            background: black;
            border-bottom: 1px solid fade(white, 30%);
            img {
              width: 150px;
            }
        }
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: white;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        .brand-heading {
            font-size: 40px;
        }
        .intro-text {
            font-size: 18px;
        }
    }
    @media(min-width:768px) {
        height: 100%;
        padding: 0;
        .intro-body {
            .brand-heading {
                font-size: 100px;
            }
            .intro-text {
                font-size: 26px;
            }
        }
    }
}
.bordered {
    border: 1px solid #f1f1f1;
    /* -webkit-border-radius: 3px; */
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.light-gray-bg {
    background-color: #fafafa;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}
.image-box .body {
    padding: 15px;
}
.image-box .body h3 {
    margin-top: 0;
    font-size: 23px;
}
.margin-clear {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
small, .small {
    font-size: 85%;
}
.mt-10 {
    margin-top: 10px;
}
.separator {
    width: 100%;
    margin: 20px auto 15px;
    position: relative;
    height: 1px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
}
.separator:after {
    height: 1px;
    background: #e8e8e8;
    background: -moz-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, transparent 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(35%, rgba(0, 0, 0, 0.09)), color-stop(70%, rgba(0, 0, 0, 0.09)), color-stop(100%, transparent));
    background: -webkit-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, transparent 100%);
    background: -o-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, transparent 100%);
    background: -ms-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, transparent 100%);
    background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, transparent 100%);
    position: absolute;
    bottom: -1px;
    content: "";
    width: 100%;
    left: 0;
}
.social-links {
    list-style: none;
    font-size: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 0;
}
.social-links li {
    display: inline-block;
    margin: 0 2px 2px 0;
}
.social-links li a i {
    line-height: 40px;
}
.social-links:not(.animated-effect-1) li.github a:hover, .colored.social-links li.github a, .social-links.animated-effect-1 li.facebook a:after, .btn.github {
    color: #333;
    border-color: #999;
}
.social-links:not(.animated-effect-1) li.twitter a:hover, .colored.social-links li.twitter a, .social-links.animated-effect-1 li.twitter a:after, .btn.twitter {
    color: #55acee;
    border-color: #999;
}
.social-links:not(.animated-effect-1) li.drupal a:hover, .colored.social-links li.drupal a, .social-links.animated-effect-1 li.twitter a:after, .btn.drupal {
    color: #064771;
    border-color: #999;
}
.social-links li a {
    border: 1px solid #e7e7e7;
    color: #cdcdcd;
}
.social-links li a {
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    font-size: 18px;
    border: 1px solid #e7e7e7;
    color: #cdcdcd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#about img {
  filter: grayscale(50%);
}
#about img:hover {
  filter: none;
}
.bg-white {
  background-color: #FFF;
}
#video-background {
  position: absolute;
  right: 0px;
  bottom: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  opacity: .8;
}
h1.brand-heading {
  margin-top: 125px;
  text-shadow: 2px 2px #000;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid white;
    border-radius: 100% !important;
    font-size: 40px;
    color: white;
    background: transparent;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    &:hover,
    &:focus {
        outline: none;
        color: white;
        background: fade(white, 10%);
    }
    i.animated {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
    }
    &:hover {
        i.animated {
          -moz-animation-name: pulse;
            -webkit-animation-name: pulse;
            -webkit-animation-duration: 1.5s;
            -moz-animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 70px;
}
#dkan-hosting {
  background-color: #f7f7f7;
  padding-top: 50px;
  .container {
    text-align: left;
  }
}
.services-section {
  padding-top: 50px;

}
#services {
  padding-top: 75px;
}
img#dkan-logo {
    width: 200px;
    padding-bottom: 60px;
}
img#data-viz {
  width: 210px;
  padding-bottom: 25px;
}
img#drupal-services {
  width: 320px;
  padding-bottom: 14px;
}
.download-section {
    width: 100%;
    padding: 50px 0;
    color: #888;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    li {
      padding: 10px 0;
    }
    .arrow-icon {
      padding-right: 10px;
    }
}

@media (min-width: 992px){
.features-figure-wrapper {
    width: 50%;
    max-width: 600px;
    top: 16px;
    right: 0px;
}}
@media (min-width: 768px){
.features-figure-wrapper {
    max-width: 60%;
    top: 15px;
    right: -90px;
}}
.features-figure-wrapper {
    overflow: hidden;
    position: absolute;
    right: -120px;
    top: 10px;
    max-width: 900px;
}
@media (min-width: 1200px) {
.features-figure-wrapper {
    width: 60%;
    max-width: 800px;
    top: 20px;
    right: -120px;
}
}
#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 100px;
    }

    .download-section {
        padding: 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
}

.btn-default {
    border: 1px solid @primary;
    color: @primary;
    background-color: transparent;
    &:hover,
    &:focus {
        border: 1px solid @primary;
        outline: none;
        color: black;
        background-color: @primary;
    }
}

ul.banner-social-buttons {
    margin-top: 0;
    @media(max-width:1199px) {
        margin-top: 15px;
    }
    @media(max-width:767px) {
        li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

footer {
    padding: 50px 0;
    p {
        margin: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: fade(white, 20%);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: fade(white, 20%);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: fade(white, 20%);
}

.page-container {
  margin-top: 110px;
}

.expertise p {
    color: #555;
}
.expertise {
  padding: 25px 25px 1px 25px;
  margin: 0px 20px 60px 0px;
  background-color: #eaeaea;
  /* border: 1px solid #999; */
  color: #000;
}

#portfolio .portfolio-item {
    margin: 0 0 15px;
    right: 0;
}
a.portfolio-link {
    display: block;
    height: 165px;
    overflow: hidden;
}
#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 25px;
    border-top: 1px solid #999;
}
#portfolio h3 {
  padding-top:30px;
}
.portfolio-img-holder {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    margin-right: 25px;
}
#tools {
  clear: both;
  margin-bottom: 40px;
}
#tools img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  max-height: 95px;
}
#tools img:hover {
  filter: none;
}
@media (min-width: 767px) {
#portfolio .portfolio-item {
    margin: 0 0 30px;
}
}
#blog-index img {
  width: 100%;
}
.feature-img-holder {
    margin-right: 30px;
    border: 1px solid #ccc;
    padding: 5px;
}
.feature-img-holder p {
    padding: 5px;
    background-color: #f5f5f5;
    margin: 0;
}
.portfolio-section .row {
    margin-top: 15px;
}

.portfolio-section .feature-long p {
    text-align: left;
    font-size: 18px;
    line-height: 40px;
}
.row-bump {
    padding: 10px 0;
}
.info-row {
    padding: 40px 0;
}
