---
layout: page
title: Blog
permalink: /blog/
---


<h2>Blog</h2>

<section id="blog-index">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {% for post in site.posts %}
        <div class="post-area">
          {% if post.img %}
            <figure>
                <img src="{{ site.baseurl }}/img/{{ post.img.small }}" alt="{{ post.img.alt }}" />
                <figcaption>{{ post.img.caption }}</figcaption>
            </figure>
          {% endif %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="bold">{{ post.title }}</a>
          <p class="post-date">{{ post.date | date_to_long_string }}</p>
          <p>
            {{ post.content | strip_html | truncatewords: 50 }}
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-md-4">
  </div>
</section>
